.body {
  display: grid;
  max-width: 800px;
  grid-column-gap: 50px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, minmax(200px, auto));
  grid-template-areas: 
    "head1      head1     head1"
    "content1   content1  image1"
    "head2      head2     head2"
    "image2     content2  content2";
}

.head1 {
  grid-area: head1;
  justify-self: center;
  align-self: center;
  // margin: 50px 0 0 0;
}

.content1__text {
  grid-area: content1;  
}


.image1 {
  grid-area: image1;
  
}

.head2 {
  grid-area: head2;
  justify-self: center;
  align-self: center;
  // margin: 75px 0;
}

.content2__text {
  grid-area: content2;
}

.image2 {
  grid-area: image2;
}


/*** IMAGES ***/
.image {
  max-width: 100%;
}


