.header {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px;
  max-width: 800px;
  margin: {
    right: auto;
    left: auto;
  }
  align-items: center;
}

.logo__link {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 2rem;
}

.logo {
  width: 100%;
}

.menu {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.menu__item {
  margin: {
    right: 2.5rem;
  }
  font: {
    size: 1.5rem;
    family: 'Happy Monkey';
  }
  text-decoration: none;
}