.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 150px;
  max-width: 800px;
  margin: {
    right: auto;
    left: auto;
  }
}

.logo {
  height: 150px;
  width: 150px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 2rem;
  display: flex;
}

.menu {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 3rem;
}

.menu__item {
  margin: {
    left: 2.5rem;
  }
  font: {
    size: 1.5rem;
  }
  text-decoration: none;
}